<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

    <th:block layout:fragment="addCss">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/management.css}">
    </th:block>

    <th:block layout:fragment="addScript">
        <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js}"></script>
        <script th:src="@{/admin/js/chart.js}"></script>
    </th:block>
    <section layout:fragment="content">

        <h1>맛집 관리</h1>
        <input type="search" class="search">
        <div id="chart">
            <canvas id="myChart"></canvas>
        </div>
        <div id="chart2">
            <canvas id="myChart2"></canvas>
        </div>
    </section>
</html>