<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>리뷰 검색</h1>
    <form name="frmSearch" method="get" th:action="@{/admin/basic/review}" autocomplete="off" th:object="${boardSearch}">
        <table class="table-cols">
            <tr>
                <th>검색어</th>
                <td>
                    <div class="input_grp">
                        <select name="sopt" ><!--th:field="*{sopt}"-->
                            <option value="all">통합검색</option>
                            <option value="bId">작성 ID</option>
                            <option value="bName">리뷰명</option>
                        </select>
                        <input type="text" name="skey" > <!-- th:field="*{skey}" placeholder="검색어 입력..."-->
                    </div>
                </td>
            </tr>
        </table>
        <div class="search_btn">
            <button type="submit">조회하기</button>
        </div>
    </form>

    <h1>리뷰 목록</h1>
    <form name='frmList' method="post" th:action="@{/admin/basic/review}" autocomplete="off" target="ifrmProcess">
        <input type="hidden" name="_method" value="patch">

        <table class="table-rows">
            <thead>
            <tr>
                <th width="40">
                    <input type="checkbox" class="checkall" id="checkall" data-target-name="bId">
                    <label for="checkall"></label>
                </th>
                <th width="150">작성자 번호</th>
                <th width="300">작성자 ID</th>
                <th width="300">식당명</th>
                <th width="500">내용</th>
                <th width="250">작성일자</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, status : ${items}" th:object="${item}">
                <td align="center">
                    <input type="checkbox" name="bId" th:value="*{bId}" th:id="${'bid_' + status.index}">
                    <label th:for="${'bid_' + status.index}"></label>
                </td>
                <td align="center" th:text="*{bId}"></td>
                <td align="center" th:text="*{bName}"></td>
                <td>
                    <a th:href="@{/admin/basic/review/{bId}/update(bId=*{bId})}" class="sbtn">설정수정</a>
                </td>
            </tr>
            <tr th:each="reviewlist :${entityReview}">
                <td th:text="${reviewList.memNo}"></td>
                <td th:text="${reviewList.nickname}"></td>
                <td th:text="${reviewList.subject}"></td>
                <td th:text="${reviewList.content}"></td>
                <td th:text="${reviewList.createdDt}"></td>
            </tr>
            </tbody>
        </table>
        <div class="table-action">
            <button type="button" class="sbtn"> 수정하기</button>
            <button type="button" class="sbtn blue"> 삭제하기</button>
            <a th:href="@{/admin/review/write}" class="sbtn"> 작성하기</a>
        </div>
        <div>

        </div>
    </form>
</section>
</html>