<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<th:block layout:fragment="addCss">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/main.css}">
</th:block>
<th:block layout:fragment="addScript">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>
<section layout:fragment="content">
    <div class="top_box">
        <img src="/common/images/adminlogo.png" class="main_logo">
        <div class="welcome">foocmend 관리자 페이지에 접속하셨습니다.</div>
    </div>
    <form class="count">
        <div class="one_day">
            <p>일일 방문자수</p>
            <p th:text="${count} + '명'"></p>
        </div>
        <div class="total">
            <p>전체 방문자수</p>
            <p th:text="${total} + '명'"></p>
        </div>
    </form>
    <div id="chart" th:value="${list}">
        <canvas id="myChart"></canvas>
        <canvas id="myChart2"></canvas>
    </div>
    <script type="text/javascript" th:inline="javascript" th:src="@{/admin/js/chart2.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/admin/js/chart.js}"></script>
</section>
</html>