<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1>맛집 찾기</h1>
   <th:block th:replace="~{front/restaurant/_category::category}"></th:block>

    <div class="layout_width">
        <li th:if="${items == null || items.isEmpty()}">
            조회된 음식점이 없습니다.
        </li>
        <li th:if="${items != null && !items.isEmpty()}" th:each="item : ${items}" th:object="${item}">
            <span>
                <input type="checkbox" class="toggle_wish" th:id="*{id}" th:data-id="*{id}"
                       th:checked="${#lists.contains(wishIds, item.id)}"
                >
                <label th:for="*{id}">HotPlace</label>

                <span th:if="*{wishCnt > 0 && wishCnt < 1000}" th:text="*{'좋아요 :' + wishCnt}">
                </span><i class="xi-heart"></i>
            </span>
            <a th:href="@{/restaurant/view/{id}(id=*{id})}">
                <th:block th:if="*{mainImages != null && !mainImages.isEmpty()}">
                    <img th:each="file, status : *{mainImages}" th:if="${status.first}" th:src="${file.thumbsUrl[0]}">
                </th:block>
                <th:block th:unless="*{mainImages != null && !mainImages.isEmpty()}">
                    <div class="no_image">이미지 없음</div>
                </th:block>
                <div class="store_nm" th:text="*{storeName}"></div>
                <div class="address" th:text="*{address}"></div>
            </a>
        </li>
    </div>
    <th:block th:replace="~{commons/_pagination::pagination}"></th:block>
</main>
</html>