<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">

    <section class="store" th:object="${item}">
        <input type="hidden" name="roadAddress" th:value="*{roadAddress}">
        <input type="hidden" name="isViewPage" th:value="true">
        <div class="info">
            <img th:if="*{mainImages != null && !mainImages.isEmpty()}" th:each="image : *{mainImages}" th:src="${image.fileUrl}" class="main_images">
            <dl>
                <dt style="font-size: 20px; font-weight: bold;">업체명</dt>
                <dd th:text="*{storeName}"></dd>
            </dl>
            <dl>
                <dt style="font-size: 20px; font-weight: bold;">주소</dt>
                <dd>
                    <div th:text="*{roadAddress}"></div>
                    <div th:if="*{address != null}" th:text="*{address}"></div>
                </dd>
            </dl>
        </div>
        <div class="map">
            <div id="map" style="height:400px;"></div>
        </div>
    </section>
</main>