<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">

    <section class="store" th:object="${item}">
        <span>
            <input type="checkbox" class="toggle_wish" th:id="*{id}" th:data-id="*{id}"
                   th:checked="${#lists.contains(wishIds, item.id)}">
            <label th:for="*{id}">HotPlace</label>
            <span th:if="*{wishCnt > 0 && wishCnt < 1000}" th:text="*{'좋아요 :' + wishCnt}"></span>
            <i class="xi-heart"></i>
        </span>
        <input type="hidden" th:value="*{storeName}" id='map_info_title'>
        <input type="hidden" name="roadAddress" th:value="*{roadAddress}" id='map_info_address'>
        <input type="hidden" th:value="*{homepage}" id="map_info_homepage">
        <input type="hidden" name="isViewPage" th:value="true">
        <div class="info">
            <img th:if="*{mainImages != null && !mainImages.isEmpty()}" th:each="image : *{mainImages}" th:src="${image.fileUrl}" class="main_images">
            <dl>
                <dt style="font-weight: bold;">업체명</dt>
                <dd th:text="*{storeName}"></dd>
            </dl>
            <dl>
                <dt style="font-weight: bold;">주소</dt>
                <dd>
                    <div th:text="*{roadAddress}"></div>
                    <div th:if="*{address != null}" th:text="*{address}"></div>
                </dd>
            </dl>
        </div>
        <div class="review_box">
            <div class="review_top ar mb10">
                <input type="file" id="file" class="dn">
                <a class="sbtn" th:href="@{/board/list/review}" target="_blank">
                    <i class="xi-list"></i> 전체 후기
                </a>
                <button type="button" class="sbtn write_review" th:data-id="*{id}">
                    <i class="xi-pen-o"></i> 후기작성</button>
            </div>
            <th:block th:replace="~{front/restaurant/_reviews::reviews}"></th:block>
        </div>
        <div class="map">
            <div id="map" style="height:400px;"></div>
        </div>
    </section>
</main>