<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>음식점 목록</h1>

    <form name="frmList" method="POST" th:action="@{/admin/restaurant}" target="ifrmProcess" autocomplete="off">
        <input type="hidden" name="mode" value="edit">
        <table class="table-rows">
            <thead>
                <tr>
                    <th width="40">
                        <input type="checkbox" class="checkall" id="checkall" data-target-name="chkNo">
                        <label for="checkall" class="standalone"></label>
                    </th>
                    <th width="150">분류</th>
                    <th width="250">상호명</th>
                    <th width="350">주소</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${items != null && items.size() > 0}" th:each="item, status : ${items}" th:object="${item}">
                    <td>
                        <input type="checkbox" name="chkNo" th:value="${status.index}" th:id="${'chkNo_' + status.index}">
                        <label th:for="${'chkNo_' + status.index}" class="standalone"></label>
                        <input type="hidden" th:name="${'id_' + status.index}" th:value="*{id}">
                    </td>
                    <td align="center" th:text="*{type}"></td>
                    <td align="center" th:text="*{storeName}"></td>
                    <td th:text="*{roadAddress}"></td>
                    <td>
                        <a th:href="@{/admin/restaurant/update/{id}(id=*{id})}" class="sbtn">수정하기</a>
                    </td>
                </tr>
                <tr th:if="${items == null || items.size() == 0}">
                    <td colspan="5" class="no_data">조회된 목록이 없습니다.</td>
                </tr>
            </tbody>
        </table>
        <div class="table-action">
            <button type="button" class="form_action sbtn" data-mode="delete" data-target-name="frmList">선택 음식점 삭제하기</button>
        </div>
    </form>

    <th:block th:replace="~{commons/_pagination::pagination}"></th:block>
</section>
</html>