<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <div class="frame">
        <div class="header">
            <a id="login" th:href="@{member/login}">로그인</a>
            <a id="signup" th:href="@{member/signup}">회원가입</a>
        </div>
        <div class="nav">
            <input type="search" placeholder="검색어 입력">
            <button type="submit"></button>
            <i class="fas fa-search"></i>
        </div>
    </div>
</main>
</html>