<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">
    <ul>
    <li th:if="${items != null && !items.isEmpty()}" th:each="item : ${items}" th:object="${item}">
        <a th:href="@{/restaurant/view/{id}(id=*{id})}">
            <th:block if="*{mainImages != null && !mainImages.isEmpty()}">
                <img th:each="file, status : *{mainImages}" th:if="${status.first}" th:src="${file.thumbsUrl[0]}">
            </th:block>
            <th:block th:unless="*{mainImages != null && !mainImages.isEmpty()}">
                <div class="no_image">이미지 없음</div>
            </th:block>
            <div class="store_nm" th:text="*{storeName}"></div>
            <div class="address" th:text="*{address}"></div>
        </a>
    </li>
    </ul>
</th:block>
</html>