<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{signUp}"></h1>
    <form name="frmSave" id="frmSave" method="POST" th:action="@{/member/mypage/edit}" th:object="${signUpForm}" autocomplete="off">
        <th:block th:replace="~{front/member/_form::form}"></th:block>
        <button type="submit" th:text="#{edit}"></button>
    </form>
</main>
</html>