<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="find_page">
    <form name="frmLogin" id="frmMember" method="POST" th:action="@{/member/find/email}" autocomplete="off">
        <div class="inner">
            <h1 th:text="#{member.find.email}"></h1>
            <div class="login_box">
                <div class="input_box">
                    <div class="rows">
                        <input type="text" name="nickname" th:placeholder="#{nickname}">
                    </div>
                    <div class="rows">
                        <input type="text" name="mobile" th:placeholder="#{mobile}">
                    </div>
                </div> <!-- input_box -->
                <button type="submit" th:text="#{member.find.email}"></button>
            </div> <!-- login_box -->
        </div>
    </form>
</main>