<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="login_page">
    <h1 th:text="#{login}"></h1>
    <form name="frmLogin" id="frmMember" method="POST" th:action="@{/member/login}" autocomplete="off">
        <div class="inner">
            <div class="msg">가입하신 <span>이메일</span>로 로그인 하세요.</div>
            <div class="login_box">
                <div class="input_box">
                    <div class="rows">
                        <input type="text" name="email" th:value="${session.email}" th:placeholder="#{email}">
                    </div>
                    <div class="rows">
                        <input type="password" name="password" th:placeholder="#{password}">
                    </div>
                </div> <!-- input_box -->
                <button type="submit" th:text="#{login}"></button>
            </div> <!-- login_box -->
            <div class="errors" th:if="${session.requiredEmail != null}" th:text="${session.requiredEmail}"></div>
            <div class="errors" th:if="${session.requiredPassword != null}" th:text="${session.requiredPassword}"></div>
            <div class="errors global" th:if="${session.globalError != null}" th:text="${session.globalError}"></div>

            <div class="links">
                <a th:href="@{/member/find/email}" th:text="#{member.find.email}"></a> |
                <a th:href="@{/member/find/password}" th:text="#{member.find.password}"></a> |
                <a th:href="@{/member/signup}" th:text="#{signUp}"></a>
            </div>
        </div>
    </form>
</main>