<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{member.find.password}"></h1>
    <div name="frmLogin" id="frmMember">
        <div class="inner">
            <div class="find_box">
                <div class="msg" th:if="${findpw}">
                    <p>비밀번호가 재발급되었습니다.</p>
                    <p>임시 비밀번호 : <span id="findEmailString" th:text="${findpw}"></span></p>
                    <p>로그인 후 반드시 비밀번호를 변경해주세요.</p>
                </div>
                <div class="msg" th:if="${error}">
                    <p th:text="${error}"></p>
                </div>
            </div>
        </div>
    </div>
    </form>
</main>
</html>