<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <form th:action="@{member/find/password}" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="currPassword" placeholder="현재 비밀번호">
        <input type="password" name="newPassword" placeholder="새로운 비밀번호">
        <button type="submit">Reset</button>
    </form>
</main>