<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <form th:action="@{/member/find/password}" method="POST" autocomplete="off">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="nickname" placeholder="닉네임">
        <input type="text" name="mobile" placeholder="핸드폰번호">
        <button type="submit">Reset</button>
    </form>
</main>