<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{member.find.password}"></h1>
    <form name="frmLogin" id="frmMember" th:action="@{/member/find/password}" method="POST" autocomplete="off">
        <div class="inner">
            <div class="msg"><span>이메일</span>과 <span>닉네임</span>, <span>휴대폰번호</span>를 입력해주세요</div>
            <div class="login_box">
                <div class="input_box">
                    <div class="rows">
                        <input type="email" name="email" th:placeholder="#{email}">
                    </div>
                    <div class="rows">
                        <input type="text" name="nickname" th:placeholder="#{nickname}">
                    </div>
                    <div class="rows">
                        <input type="text" name="mobile" th:placeholder="#{mobile}">
                    </div>
                </div>
                <button id="find_box_button" type="submit" th:text="#{member.find.password}"></button>
            </div>
        </div>
    </form>
</main>