<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{member.withdraw}"></h1>
    <div name="frmLogin" id="frmMember">
        <div class="inner">
            <div>
                <div class="msg" th:if="${withdrawSuccess}">
                    <p><span th:text="${withdrawSuccess}"></span></p>
                </div>
                <div class="msg" th:if="${withdrawFailed}">
                    <p th:text="${withdrawFailed}"></p>
                    <button class="withdraw_button" type="submit" th:onclick="|location.href='@{/member/withdraw}'|">돌아가기</button>
                </div>
            </div>
        </div>
    </div>
</main>
</html>