/** 메인 관리자 페이지 */
.section { margin: 0px; }
.top_box { padding: 10px 50px 50px; background:#e6e6dd; }
.main_logo { display:block; height:180px; object-fit:contain; }
.welcome { text-align:center; font-weight:bold; font-size:15px; }

/** 메인 관리자 페이지 방문자수 */
.count { display:flex; justify-content: space-around; margin: 10px auto; font-weight: bold; text-align: center; }
.count > div { width: 200px; box-shadow: 0px 0px 5px 0px #566270; border-radius: 5px; }

/** 메인 관리자 페이지 차트 */
#chart { display: flex; justify-content: space-around; margin-top: 20px; }
#myChart, #myChart2 { height: 400px; width: 40vw; box-shadow: 0px 0px 5px 0px #566270; padding: 20px; border-radius: 5px; }