/** 메인페이지 헤더 */
.header { display:flex; justify-content:flex-end; }
#login { margin: 0px 5px; }
#signup { margin: 0px 5px; }

/** 메인페이지 검색창 */
.nav { display:flex; justify-content:center; margin: 20px 0px; }
.nav > input { width:300px; height:30px; }
.nav > button { width:40px; }
