
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');*/
* { box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; color: #000; outline: none; }
html { font-size: 13px; }
ul, ol, li { list-style: none; margin:0; padding:0; }
dl, dt, dd { margin:0; padding: 0; }
a { text-decoration: none; }
body { margin: 0; }
img { border: 0; }

/** 기준 너비 */
.layout_width { max-width: 1300px; min-width: 1100px; margin: 0 auto; padding: 0 10px; }

/** 기본 스타일 - 입력 */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='date'] { border: 1px solid #d5d5d5; width: 100%; padding: 0 10px; box-shadow: 0px 0px 1px 0px; }
textarea { border: 1px solid #d5d5d5; width: 100%; min-height: 150px; padding: 10px; resize: none; }
select { border: 0px solid #d5d5d5; min-width: 150px; height: 45px; box-shadow: 0px 0px 1px 0px; }

/** 기본 스타일 - 제목 */
h1 { font-size: 1.75rem; padding: 0; margin: 0; margin-bottom: 20px; }
/** 메인페이지 화면 */
.frame {
    position: absolute;
    width: 100%;
    height: 300px;
    margin: 0px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    background: #5CA4EA;
}

/** 메인페이지 헤더 */
.header { display:flex; justify-content:flex-end; }
#login { margin: 0px 5px; }
#signup { margin: 0px 5px; }

/** 메인페이지 검색창 */
.nav {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav > input {
  height: 2.5em;
  width: 400px;
  padding: 0 10px;
  box-shadow: 3px 3px 10px #566270;
  outline: none;
  border: none;
  color: #4F86C6;
  border-radius: 15px;
}
.nav > button {
    position: absolute;
    height: 100%;
    right: 5px;
}


/** 기본 버튼 스타일 */
.sbtn { display: inline-block; background: #fff; border: 1px solid #689a9f; color: #689a9f; min-width: 90px; padding: 0 20px; height: 28px; line-height: 26px; text-align: center; border-radius: 5px; }
.sbtn.blue { color: #fff; background:#689a9f; }

.btns { display: flex; width: 400px; margin: 0 auto; }
.btns > button { width: 0; background: #fff;  flex-grow: 1; height: 50px; font-size: 15px; border: 1px solid #000; }
.btns > button:last-of-type { background: #000; color: #fff; }

.search_btn { text-align: center; margin: 20px 0 35px; }
.search_btn button { text-align: center; height: 45px; line-height: 45px; background: #689a9f; color: #fff; padding: 0 30px; border: 0; font-size: 16px; }

/** 기본 테이블 스타일 */
.table-cols { width:100%; border-spacing: 0; padding: 0; border-top: 3px solid #222; margin-bottom: 20px; }
.table-cols th { background: #f8f8f8; width: 160px; padding: 10px 20px; text-align: left; }
.table-cols td { background: #fff; padding: 10px 15px; }
.table-cols th,
.table-cols td { border-bottom: 1px solid #d5d5d5; }

.table-rows { justify-contents: center; align-items: center; text-align: center; width: 100%; border-spacing: 0; padding: 0; }
.table-rows th { background: #e6e6dd; color: #A9A9A9; border-top: 1px solid #d5d5d5; padding: 12px 10px; }
.table-rows td { padding: 15px 10px; }
.table-rows th, .table-rows td { border-bottom: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; }
.table-rows th:first-of-type, .table-rows td:first-of-type { border-left: 1px solid #d5d5d5; }

.table-action { padding: 10px 0; border-bottom: 1px solid #d5d5d5; }


/** 기본 스타일 - 체크박스, 라디오 버튼 */
input[type='checkbox'] { display: none; }
input[type='checkbox']+label { min-height: 32px; line-height: 1; padding: 3px 0 3px 33px; background:url("../../admin/images/chk-off.png") no-repeat left center; margin-right: 13px; cursor: pointer; }
input[type='checkbox']:checked+label { background:url("../../admin/images/chk-on.png") no-repeat left center; }
input[type='checkbox']+label.standalone { padding: 0; width: 28px; display: inline-block; margin: 0; }
input[type='radio'] { display: none; }
input[type='radio']+label { min-height: 24px; line-height: 1; padding: 3px 0 3px 25px; background:url("../../admin/images/radio-off.png") no-repeat left center; margin-right: 13px; cursor: pointer; }
input[type='radio']:checked+label { background:url("../../admin/images/radio-on.png") no-repeat left center; }
input[type='radio']+label.standalone { padding: 0; width: 28px; margin: 0; }


span > input[type='checkbox']~label { display: inline-block; height: 32px; line-height: 32px; padding-left: 33px; background:url("../../admin/images/chk-off.png") no-repeat left center; margin-right: 13px; cursor: pointer; }
span > input[type='checkbox']:checked~label { background:url("../../admin/images/chk-on.png") no-repeat left center; }
span > input[type='checkbox']~label.standalone { padding: 0; width: 28px; display: inline-block; margin: 0; }

span > input[type='radio']~label { min-height: 24px; line-height: 1; padding: 3px 0 3px 25px; background:url("../../admin/images/radio-off.png") no-repeat left center; margin-right: 13px; cursor: pointer; }
span > input[type='radio']:checked~label { background:url("../../admin/images/radio-on.png") no-repeat left center; }
span > input[type='radio']~label.standalone { padding: 0; width: 28px; margin: 0; }


/** 에러 공통 */
.errors { box-shadow: 1px 1px 5px #ccc; padding: 10px; border-radius: 3px; color:#689a9f; margin: 5px 0; font-weight: 700; text-align: center; }


/** 페이징 공통 */
.pagination { text-align: center; margin: 15px 0; }
.pagination a { display: inline-block; padding: 5px 10px; border: 1px solid #d5d5d5; border-radius: 5px; margin: 0 2px; font-size: 0.9rem; }
.pagination a.on { background-color: #689a9f; color: #ffffff; border-color: #689a9f; }

/** 헤더 영역 S */
header { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; background: #e6e6dd; }
header .logo_search { border-bottom: 1px solid #ddd;  padding-top: 10px; padding-bottom: 10px; }
header .top_menus { /*border-bottom: 1px solid #d7d7d7;*/ height: 37px; font-size:16px;
box-shadow: 0px 2px 3px 0px rgb(0 0 0/ 25%);
   border-bottom: 1px solid #ddd;}
header .top_menus > .inner { max-width:1800px; line-height: 37px; text-align: right;  margin:0px;  }
header .top_menus > .inner a {   text-align: center; align-items:center;}
header .top_menus .login_info { color: #689a9f; font-weight: bold; padding:0px 10px;  }
header .top_menus a:hover { text-decoration: underline; }
header .top_menus a { margin-left: 10px; }

header .logo_search { background: #e6e6dd; }
header .logo_search > .inner { max-width:1800px; display: flex; align-items: center; justify-content: space-between; }
header .logo_search .logo, header .logo_search .links { width: 0; flex-grow: 1; }
header .logo_search .logo img { height: 100px; }
header .frm_search  { width: 650px; position: relative;  }
header .frm_search > .inner { display: flex; color: #689a9f; width: 650px;
/*width: fit-content;*/ height: fit-content; }
header .frm_search .inner input[type='text'] { flex-grow: 1; border: 0; border-radius: 0px; height: 55px;
border-style: none;padding: 10px;
letter-spacing: 2px;outline: none; border-radius: 10px;transition: all .5s ease-in-out;
background-color: #EDEDED; padding-right: 40px; color:#000;}
header .frm_search .inner input[type='text']9::placeholder{
color:rgba(255,255,255,.5); font-size: 18px; color: #000; letter-spacing: 2px; font-weight: 100; border-radius: 10px;
}
header .frm_search .inner .btn-search { width: 50px; height: 55px; border-style: none; font-size: 20px;
font-weight: bold; outline: none; cursor: pointer; border-radius: 50%; position: absolute; right: 0px;
color:#ffffff ; background-color:transparent; pointer-events: painted; }

header .frm_search .search_dropdown { position: absolute; min-height: 250px; width: 650px; background: #fff; top: 48px;
 left: 0; padding: 10px; border: 1px solid #d5d5d5; border-top: 0; z-index: 10; margin-top:9px; border-radius: 0px 0px 10px 10px; }
header .frm_search .search_dropdown label { background-image: none; padding: 0; }
header .frm_search .search_dropdown .tab { display: flex;  font-size:15px; border-bottom: solid #000 1px; height:40px; line-height: 35px; }
header .frm_search .search_dropdown .tab li { width: 0; flex-grow: 1; text-align:center; }
header .frm_search .search_dropdown .tab li input[type='radio']+label { width: 100%; }
header .frm_search .search_dropdown .tab li input[type='radio']:checked+label { border-bottom: 2px solid #7CBBBF; }
header .frm_search .search_dropdown .close_popup { position: absolute; right: 0; bottom: 0; width: 20px; height: 20px; background: #000; color: #fff; text-align: center; line-height: 20px; cursor: pointer; font-size: 12px; }

header .frm_search .search_dropdown .keywords { padding: 0px 0px 20px 20px; margin-top: 5px; width: 580px; }
header .frm_search .search_dropdown .keywords li { padding: 5px; font-size:17px; border-bottom: 1px solid #DBDBDB;
 display: flex; justify-content: space-between; }

/*header .frm_search .search_dropdown .keywords li:hover { cursor : pointer; }*/

header .frm_search .search_dropdown .keywords li span { cursor : pointer; }

header .frm_search .search_dropdown .remove { font-size: 13px;
color: #000; border-radius: 5px; width: 23px; height: 23px; line-height: 23px;
font-weight: bolder; text-align: center; margin-left: 10px; cursor : pointer; }

header .frm_search .search_dropdown .close_popup { background:#DBDBDB; color:#000; border-radius: 5px;
 width: 30px; height: 23px; line-height: 23px; font-weight: bolder; margin: 0px 8px 8px 0px; }

header .frm_search .inner > select {  border-left: 0; border-radius: 0px 5px 5px 0px; box-shadow: 0px 0px 1px 0px;
margin-right:3px; height: 55px; width: 30px; border-style: none; padding: 10px; font-size: 15px; letter-spacing: 2px;
outline: none; border-radius: 10px; transition: all .5s ease-in-out; background-color: #7CBBBF; padding-right: 40px; color:#000;}

header .frm_search  .inner > select option {   background: #C2EFF2; }

header .frm_search > select:focus ~ header .frm_search .inner input[type='text'] { width: 300px;
border-radius: 0px; background-color: transparent; border-bottom:1px solid rgba(255,255,255,.5);
transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); }

header .frm_search .inner input[type='text']:focus{
/*width: 300px;*/ border-radius: 10px; background-color: #fff; border-bottom:1px solid rgba(255,255,255,.5);
 transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); }

header .logo_search .links { text-align: center; }
header .logo_search .links a { padding:0px 0px 0px 20px; font-size: 22px; }
header nav { text-align: center; height: 50px; line-height: 50px; font-size: 1.4rem; box-shadow: 0px 0px 1px 0px; background: #e6e6dd; }
header nav a+a { margin-left: 150px; }


/** 최근검색 */
/*header .recent_searches { display: flex; /*margin-bottom: 40px; box-shadow: 0px 2px 3px 0px rgb(0 0 0/ 25%); border-bottom: 1px solid #ddd;  align-items: center; }
header .recent_searches h3 { padding: 0px 10px 0px 20px; font-size: 17px;
 }
header .recent_searches > div { flex-grow: 1; }
header .recent_searches a { border-radius: 20px; background: #c5c68a; margin: 5px 5px 5px 5px; font-size: 15px;
padding: 5px 10px 5px 10px; overflow-x: auto; display: inline-block; }*/

/** 레이어 팝업 S */
#layer_dim { background:rgba(0,0,0, 0.7); position: fixed; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; z-index: 1000; }
#layer_popup { background: #ffffff; position: fixed; z-index: 1001; border-radius: 30px; overflow-x: hidden; overflow-y: hidden; padding: 20px; }
#layer_popup .popup_title { border-bottom: 1px solid #000000;  margin-bottom: 20px; font-size: 1.15rem; font-weight: bold; padding: 0 5px 13px; }
#layer_popup .layer_close { cursor: pointer; position: absolute; right: 25px; top: 15px; font-size: 1.8rem; }

/** 레이어 팝업 E */


/** 헤더 영역 E */
/** 본문 영역 S */
main { margin-top: 259px; font-family: 'Poor Story', cursive; }
main h1 { margin: 20px auto; min-width: 1100px; max-width: 1300px; padding: 0 10px;  font-size: 50px; color: #537C80; text-shadow: 1px 1px 2px #313030a1; font-family: 'Poor Story', cursive; }
.my_favorite { display: grid; grid-template-columns: repeat(5, 1fr); grid-auto-rows: minmax(100px, auto); gap: 20px; max-width: 1300px; min-width: 1100px; margin: 0 auto; padding: 0 10px; }
.my_favorite li { display: grid; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.24); gap: 10px; padding: 10px; background: #fffffb; border-radius: 15px }
.my_favorite li a { display: grid; grid-template-rows: repeat(1, 3fr); grid-auto-rows: minmax(30px, auto); gap: 10px; }
.my_favorite li a img { width: 90%; height: 130px; border-radius: 15px; margin: auto; }

/** 본문 영역 E */
/** 푸터 영역 S */
footer { background: #f7f7f58a; margin-top: 100px; min-height: 150px;}
footer > .inner { padding: 20px 10px; }
footer > .inner h4 { color: #adadadab; }

/** 푸터 영역 E */
.file_items { display: inline-block; border: 1px solid #000; border-radius: 3px; padding: 5px 10px; margin-right: 3px; margin-bottom: 3px; }
.file_items > a:hover { text-decoration: underline; }
.file_items .insert_editor { cursor: pointer;  }
.file_items i { font-size: 15px; }

/** 맛집찾기 */
main .layout_width { display: grid; grid-template-columns: repeat(5, minmax(0, 1fr)); gap: 20px; }
main .layout_width li { display: grid; grid-auto-rows: minmax(30px, auto); gap: 10px; box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.24); padding: 10px; background: #fffffb; font-family: 'Dongle', sans-serif; border-radius: 15px; }
main .layout_width li a { display: grid; grid-template-rows: repeat(1, 1fr); }
main .layout_width li label { font-family: 'Poor Story', cursive;, sans-serif; font-size: 26px }
main .layout_width img { width: 100%; border-radius: 15px; }
main .layout_width span > input[type='checkbox']~label { display: inline-block; height: 32px; line-height: 32px; padding-left: 33px; background:url("../../admin/images/star-off.png") no-repeat left center; margin-right: 13px; cursor: pointer; }
main .layout_width span > input[type='checkbox']:checked~label { background:url("../../admin/images/star-on.png") no-repeat left center; }
main .layout_width span > input[type='checkbox']~label.standalone { padding: 0; width: 28px; display: inline-block; margin: 0; }
.store_nm { font-weight: bold; font-size: 24px; font-family: 'Poor Story', cursive;, sans-serif; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.address { font-size: 16px; font-family: 'Poor Story', cursive, sans-serif; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.categories { margin: 0px auto; margin-bottom: 15px; display: flex; flex-wrap: wrap; justify-content: center; gap: 10px; min-width: 1100px; max-width: 1300px; }
.categories a { font-size: 14px; background-color: #fffffb; border-radius: 5px; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.24); cursor: pointer; transition: 0.2s all; padding: 2px; }
.categories a:hover { transform: scale(1.1); background-color: #1ddeff29; }
.categories .on { transform: scale(1.1); background-color: #1ddeff29; }

/** 맛집 상세 페이지 */
.store { box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.24); padding: 10px; border-radius: 15px; max-width: 850px; min-width: 750px; display: flex; flex-direction: column; margin: auto; gap: 10px; background: #fffffb; }
.store span label { font-family: 'Poor Story', cursive;, sans-serif; font-size: 26px }
.store span input[type='checkbox']~label { display: inline-block; height: 32px; line-height: 32px; padding-left: 33px; background:url("../../admin/images/star-off.png") no-repeat left center; margin-right: 13px; cursor: pointer; }
.store span input[type='checkbox']:checked~label { background:url("../../admin/images/star-on.png") no-repeat left center; }
.store span input[type='checkbox']~label.standalone { padding: 0; width: 28px; display: inline-block; margin: 0; }
.info { margin: 0px 0px 15px 0px; }
.info dl dt { font-family: 'Poor Story', cursive;, sans-serif; font-size: 35px; font-weight: bold; }
.info dl dd { font-family: 'Poor Story', cursive;, sans-serif; font-size: 26px; }
.info dl dd div { font-family: 'Poor Story', cursive; , sans-serif; font-size: 26px; }
.main_images { width: 100%; height: 100%; border-radius: 15px; }



/**front main error 페이지*/
.main_errors {width:100%;}