<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="common">
        <section class="top_menus">
            <div class="inner layout_width">
                <a th:href="@{/board/list/notice}"> 공지사항</a>
                <a th:href="@{/board/list/qna}">고객센터</a>
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="@{/member/signup}" th:text="#{signUp}"></a>
                    <a th:href="@{/member/login}" th:text="#{login}"></a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <a th:href="@{/member/mypage}" class="login_info" th:text="${#messages.msg('member.login.status', session.detailMember.nickname, session.detailMember.email)}"></a>
                    <a th:href="@{/member/logout}" th:text="#{logout}"></a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" th:text="#{admin.site.management}" target="_blank"></a>
                </th:block>
            </div>
        </section>
        <section class="logo_search">
            <div class="inner layout_width">
                <a th:href="@{/}" class="logo">
                    <img th:src="@{/common/images/logo.png}">
                </a>
                <form class='frm_search' name="frmSearch" method="get" th:action="@{/restaurant}" autocomplete="off">
                    <input type="hidden" name="sopt" value="all">
                    <input type="hidden" name="type" th:value="${param.type}">
                    <div class="inner">
                        <select name="sido" class="ajax_sido">
                            <option value="">- 시도 선택 -</option>
                            <option th:each="sido : ${sidos}" th:value="${sido}" th:text="${sido}" th:selected="${sido == _sido}"></option>
                        </select>
                        <select name="sigugun" class="ajax_gigugun">
                            <option value="">- 시구군 선택 -</option>
                            <option th:if="${siguguns != null}" th:each="sigugun : ${siguguns}" th:value="${sigugun}" th:text="${sigugun}" th:selected="${sigugun == _sigugun}"></option>
                        </select>
                        <!--button class="btn-search"><i class="xi-search"></i></button-->
                        <input class="input-search" type="text" name="skey" placeholder="오늘 뭐 먹지?" th:value="${param.skey}">
                        <!--input type="image" th:src="@{/common/images/search_btn.gif}"-->
                        <button class="btn-search"><i class="xi-search" type="image"></i></button>
                    </div>

                    <div class="search_dropdown dn">
                        <ul class="tab">
                            <li>
                                <input type="radio" name="searchType" value="popular" id="search_type_poplular" checked>
                                <label for="search_type_poplular" checked>인기 검색</label>
                            </li>
                            <li>
                                <input type="radio" name="searchType" value="recent" id="search_type_recent">
                                <label for="search_type_recent">최근 검색</label>
                            </li>
                            <li>
                                <input type="radio" name="searchType" value="recommend" id="search_type_recommend">
                                <label for="search_type_recommend">추천 검색</label>
                            </li>
                        </ul>
                        <ul class="keywords"></ul>
                        <i class="xi-close close_popup"></i>
                    </div>
                </form>
                <div class="links">
                    <a th:href="@{/restaurant}" class="search_restaurant_link">
                        <i class="xi-restaurant"></i>
                        맛집찾기
                    </a>
                    <a th:href="@{/}">
                        <i class="xi-hand-pointing"></i>
                        추천
                    </a>
                </div>

            </div>
        </section>
        <div class="recent_searches dn">
            <h3>최근 검색어</h3>
            <div>
            <a th:each="item : ${searchHistories}" th:object="${item}" th:href="@{/restaurant?skey={key}(key=*{keyword})}" th:text="*{keyword}"></a>
            </div>
        </div>

    </header>
</html>